.morgen {
    background-image: url("img/morgenmad-top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
}

.flip-animate-in {
    -webkit-animation: flipInY 2s;
    animation: flipInY 2s;
}

.register-button-animate-out, .register-form-animate-out {
    -webkit-animation: flipOutY 2s;
    animation: flipOutY 2s;
}

.hideMe {
    display: none;
}
