.morgen {
    background-image: url("img/morgenmad-top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.register-button.hide {
    -webkit-animation: flipOutY 2s;
    animation: flipOutY 2s;
    display: block !important;
}

.register-button.show {
    -webkit-animation: flipInY 2s;
    animation: flipInY 2s;
    display: block !important;
}

.register-form.hide {
    -webkit-animation: flipOutY 2s;
    animation: flipOutY 2s;
    display: block !important;
}

.register-form.show {
    -webkit-animation: flipInY 2s;
    animation: flipInY 2s;
    display: block !important;
}
