.morgen {
    background-image: url("img/morgenmad-top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
}

.register-button.hide {
    -webkit-animation: flipOutY 2s;
    animation: flipOutY 2s;
    display: block !important;
}

.register-form-animate-in {
    -webkit-animation: flipInY 2s;
    animation: flipInY 2s;
    display: block !important;
}

.register-button-animate-out {
    -webkit-animation: flipOutY 2s;
    animation: flipOutY 2s;
    display: block !important;
}

.register-form.show {
    -webkit-animation: flipInY 2s;
    animation: flipInY 2s;
    display: block !important;
}

