<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Play with services</title>
        <script src="scripts/bower_components/jquery/dist/jquery.js"></script>
        <script src="scripts/bower_components/angular/angular.js"></script>
        <script>
            angular.module('play', [])

                    .controller('myCtrl1', function (service1, factory1) {
                        var my1 = this;
                        my1.text = factory1;
                    })

                    .controller('myCtrl2', function (service1, factory1) {
                        var my2 = this;
                        my2.text = factory1;
                    })

                    .service('service1', function () {
                        var S1 = this;
                        S1.text = "Flemming";

                    })

                    .factory('factory1', function () {

                        var service = {

                        }

                        return service;

                    })
        </script>
    </head>
    <body ng-app="play">
        <div ng-controller="myCtrl1 as c1">
            <input type="text" ng-model="c1.text.t">
            <span style="background-color: darkgray;">{{c1.text.t}}</span>
        </div>
        <div ng-controller="myCtrl2 as c2">
            <input type="text" ng-model="c2.text.t">
            <span style="background-color: darkgray;">{{c2.text.t}}</span>
        </div>
    </body>
</html>